.body {
  padding: 8px;
  background-color: #fff;
}

.title {
  margin: 0;
  margin-bottom: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.span {
  grid-column: span 2;
}

.footer {
  display: flex;
  padding: 8px;
  background-color: #eee;
}

.footerInner {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.feedback {
  margin: 8px 0;
  padding: 0 8px;
  color: #e22;
  font-size: 12px;
}
