.contact {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #777;
  border-radius: 4px;
  vertical-align: middle;
}

.title {
  margin: 0;
  margin-bottom: 8px;
  cursor: default;
}

.text {
  margin: 0;
  color: #777;
  cursor: default;
}