.contact {
  display: inline-block;
  padding: 8px 16px 12px;
  border: 1px solid var(--color-semi-dark);
  border-radius: 2px;
  background-color: var(--color-light);
  vertical-align: middle;
  overflow: hidden;
}

.title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  cursor: default;
}

.text {
  margin: 0;
  cursor: default;
}

@media (max-width: 768px) {
  .contact {
    width: 100%;
    padding-bottom: 8px;
    border: none;
    border-bottom: 1px solid var(--color-semi-dark);
    border-radius: 0;
  }

  .title {
    margin-bottom: 0;
  }
}
