.contacts {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.buttonDesktop {
  margin-bottom: 32px;
}

.buttonMobile {
  display: none;
}

@media (max-width: 768px) {
  .contacts {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .buttonDesktop {
    display: none;
    margin-bottom: 0;
  }

  .buttonMobile {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: block;
  }
}
