html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}

:global(#root) {
  height: 100%;
  display: flex;
  flex-direction: column;
}
